.team {
  position: relative;
  background-color: $color-eastbay;
  padding: $big-offset 0;
}

.team__figure {
  position: absolute;
  right: 0;
  top: 0;
}

.team__list {
  position: relative;
  gap: $main-offset 15px;
}

.team__item {
  grid-column: 4 span;
}

.team__img {
  border-radius: 4px;
}

.team__title {
  color: $color-white;
  padding-bottom: $second-offset;
}

.team__name,
.team__descr {
  display: block;
  margin-top: $second-offset;
}
.team__name {
  font: $f-preheigh-bold;
  color: $color-white;
}

.team__descr {
  font: $f-middle-book;
  color: $color-white;
}
