.team {
  background-color: $color-about-bg;
}

.team__figure {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $main-offset 15px;
}

.team__title {
  color: $color-white;
  padding: 60px 0 $main-offset;
}

.team__img {
  // display: block;
  // width: 100%;
  // height: 100%;
  // object-fit: cover;
}

.team__name {
  display: block;
  margin-top: $second-offset;
  font: $f-preheigh-bold;
  color: $color-white;
}

.team__descr {
  display: block;
  margin-top: $second-offset;
  font: $f-middle-book;
  color: $color-white;
}
