<section class="catalog">
  <div class="container catalog__container ">
    <h2 class="title catalog__title">Каталог</h2>
    <div class="catalog__content grid">
      <div class="catalog__left">
        <div class="catalog__filters">
          <h3 class="catalog__subtitle">Подбор
            по&nbsp;параметрам</h3>
          <div class="catalog__prop">
            <strong class="catalog__prop-caption">Цена, руб</strong>
            <div class="catalog-price catalog-price__inner">
              <div class="catalog-price__wrapper">
                <input type="number" class="catalog-price__input" id="input-0">
                <input type="number" class="catalog-price__input" id="input-1">
              </div>
              <div class="catalog-price__line" id="range-slider"></div>
            </div>
          </div>
          <div class="catalog__prop">
            <strong class="catalog__prop-caption">Пол</strong>
            <div class="catalog__prop-inner catalog__prop-chekboxes">
              <label class="custom-checkbox">
                <input class="custom-checkbox__field" type="checkbox">
                <span class="custom-checkbox__content">мужской</span>
              </label>
              <label class="custom-checkbox">
                <input class="custom-checkbox__field" type="checkbox">
                <span class="custom-checkbox__content">женский</span>
              </label>
            </div>
          </div>
          <div class="catalog__prop">
            <strong class="catalog__prop-caption">Размер</strong>
            <div class="catalog-prop__inner">
              <table class="sizes-table">
                <caption>Таблица размеров</caption>
                <tbody>
                  <tr>
                    <td>35</td>
                    <td>36</td>
                    <td>37</td>
                  </tr>
                  <tr>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-wrapper category__footer">
            <button class="btn btn-reset  btn--secondary">Применить</button>
            <button class="catalog__btn btn-reset">Сбросить</button>
          </div>
        </div>
      </div>
      <div class="catalog__right">
        <ul class="catalog-list grid">
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__img">
                <img src="../img/product-1.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
        </ul>
        <div class="btn-wrapper">
          <button class="btn btn-reset btn--primary catalog__btn">Показать еще</button>
        </div>
      </div>
    </div>
  </div>
</section>