<section class="contacts">
  <div class="container">
    <h2 class="title contacts__title">Контакты</h2>

    <div class="contacts__container">
      <div class="contacts__inner">
        <ul class="contacts__list">
          <li class="contacts__item">
            <h3 class="contacts__subtitle">
              Главный офис
              <span class="tooltip">
                <button class="tooltip__btn btn-reset" aria-describedby="office" aria-label="Описание адреса">
                  <svg>
                    <use xlink:href="img/sprite.svg#tooltip"></use>
                  </svg>
                </button>
                <span class="tooltip__txt" role="tooltip" id="office">
                  <span class="visualy-hidden">Тултип: </span>
                  Адрес и&nbsp;телефон для корреспонденции, инвесторов. Вопросы о&nbsp;доставке, качестве обслуживания
                  и&nbsp;товара просьба задавать в&nbsp;отдел продаж
                </span>
              </span>
            </h3>
            <div class="contacts__telephone">
              <a class="contacts__telephone-link" href="tel:+74951234567">+7 (495) 123-45-67</a>
            </div>
            <div class="contacts__street">г. Санкт-Петербург, Комсомольская, 43 к1</div>
          </li>
          <li class="contacts__item">
            <h3 class="contacts__subtitle">отдел продаж</h3>
            <div class="contacts__telephone">
              <a class="contacts__telephone-link" href="tel:+74951234567">+7 (495) 123-45-67</a>
            </div>
            <div class="contacts__street">г. Санкт-Петербург, Комсомольская, 43 к1</div>
          </li>
        </ul>

        <ul class="social__list">
          <li class="social__item">
            <a class="social__link social__link--vk" href="#" aria-label="Мы во в контакте">
              <img class="social__img" src="../img/vk.svg" alt="иконка в контакте">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--inst" href="#" aria-label="Мы в инстаграмме">
              <img class="social__img" src="../img/inst.svg" alt="иконка инстаграмм">
            </a>
          </li>
        </ul>
      </div>

      <div class="contacts__map" id="map">
      </div>
    </div>
  </div>
</section>