<header class="header">
  <div class="container">
    <a class="header__logo" href="#">SneakMax</a>

    <nav class="header__nav">
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Каталог</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">О нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Подбор товара</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Наша команда</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Доставка и оплата</a>
        </li>
        <li class="menu__item">
          <!-- <a class="menu__link" href="#">Контакты</a> -->
          <a class="menu__link" href="#">Контакты</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Корзина</a>
        </li>
      </ul>
    </nav>
  </div>
</header>