<section class="insta">
  <div class="container insta__container">
    <h2 class="visualy-hidden">Форма и инстаграмм лента</h2>
    <div class="insta__left">
      <form class="callback-form " action="/">
        <h3 class="insta__title title">Есть вопросы?</h3>
        <p class="insta__descr">Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами</p>
        <input class="input callback-form__input" type="text" placeholder="Ваше имя">
        <input class="input callback-form__input" type="tel" placeholder="Номер телефона">
        <button class="callback-form__btn btn btn-reset btn--primary">Отправить</button>
      </form>
    </div>
    <div class="insta__right">
      <a class="insta__logo" href="#">
        <img src="../img/isnta.png" alt="Иконка инстаграмм">
      </a>

      <div class="insta__content">
        <article class="insta__item">
          <a href="#">
            <img src="../img/insta/insta-1.jpg" alt="1 картинка">
          </a>
        </article>
        <article class="insta__item">
          <a href="#">
            <img src="../img/insta/insta-2.jpg" alt="1 картинка">
          </a>
        </article>
        <article class="insta__item">
          <a href="#">
            <img src="../img/insta/insta-3.jpg" alt="1 картинка">
          </a>
        </article>
        <article class="insta__item">
          <a href="#">
            <img src="../img/insta/insta-4.jpg" alt="1 картинка">
          </a>
        </article>
        <article class="insta__item">
          <a href="#">
            <img src="../img/insta/insta-5.jpg" alt="1 картинка">
          </a>
        </article>
      </div>
    </div>
  </div>
</section>